# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.settings

#Files to ignore
.classpath
.project
bendingPlayers.yml
BuildTools.log.txt
bukkit.yml
commands.yml
converted.yml
eula.txt
*.jar
help.yml
*.log
*.json
*.properties
*.bat
spigot.yml
permissions.yml
apache-maven-3.2.5
BuildData
Bukkit
CraftBukkit
crash-reports
logs
NewWorld
NewWorld_nether
NewWorld_the_end
OldWorld
plugins
Spigot
target
work
Worlds

